:root {
  --max-screen-size: 1200px;

  --base-font: 'Josefin Sans', 'Times New Roman', Arial sans-serif;

  --brown: #D0B085;
  --grey: #707070;
  --white: #FFFFFF;
}

html, body {
  margin: 0;
}

html * {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: var(--base-font);
  font-size: 100%;
}

nav {
  display: flex;
  flex-flow: column;
}

nav #logo {
  position: fixed;
  float: left;
  display: block;
  overflow: hidden;
}

nav #main-navigation {
  text-align: right;
}

nav #main-navigation ul {
  float: right;
}

nav #main-navigation li {
  display: inline;
}


nav .inner-wrapper {
  position: relative;
  max-width: var(--max-screen-size);
  margin: 0 auto;
  background: yellow;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}
