.content-element .team {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

.team .team-links .team-text,
.team .team-rechts .team-text2 {
  margin: 0;
  text-align: center;
  letter-spacing: 3px;
}

.team .team-image,
.team .team-image2 {
  display: block;
  position: relative;
  width: calc(100% - 4rem);
  height: 45vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  margin-left: 2rem;
  margin-right: 2rem;
}

.team .team-image img,
.team .team-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@media screen and (min-width: 1280px) {
  .content-element .team {
    display: flex;
    flex-flow: column;
  }
  .team .team-links .team-text {
    float: left;
    text-align: right;
    width: 45%;
  }

  .team .team-links .team-image{
    float: right;
    text-align: left;
    width: 45%;
    height: 25vw;
  }

  .team .team-rechts .team-text2 {
    clear: both;
    float: right;
    text-align: left;
    width: 45%;
  }

  .team .team-rechts .team-image2 {
     float: left;
     text-align: right;
     width: 45%;
     height: 25vw;
  }

  .team .team-text,
  .team .team-text2 {
    padding-top: 10%;
    text-align: start;
    line-height: 1.3em;
  }
}
