html, body {
  display: block;
}


.float-left p,
.float-right p {
  border: 1px solid #000;
  padding: 10px;
}

.float-left p {
  float: left;
}

.float-right p {
  float: right;
}

.clear {
  clear: both;
}
