section {
  font-family: var(--base-font2);
  margin-left: 2rem;
  margin-right: 2rem;
}

section h1 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

section .content-header h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

section .content-header p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.teaser-text h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.teaser-text {
  padding-left: 10%;
  padding-right: 10%;
}

.teaser {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.teaser img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.teaser img:hover {
  transform: rotate(4deg);
}

.teaser a {
  color: var(--red);
  margin-top: 2rem;
}

.grid-container {
  display: grid;
  width: 100%;
  margin-top: 2rem;
}

.grid-item {
  text-align: center;
  position: relative;
}

/*.grid-image {
  height: 45vw;
  width: 100%;
  position: relative;
  overflow: hidden;
}*/

.grid-item hr {
  width: 40%;
}

.grid-item img{
  /*top: -5%;
  left: -5%;
  padding: 0;
  margin: 0;
  width: 110%;
  height: 110%;*/
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid-item .grid-text {
  opacity: 0;
  display: flex;
  flex-flow: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  color: white;
  background-color: rgba(205, 154, 160, 0.8);
  font-size: 15px;
}

.grid-item:hover .grid-text{
  opacity: 1;
}


@media screen and (min-width: 675px) {

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  /*.grid-image {
    height: 20vw;*/
  }

@media screen and (min-width: 1030px) {

  .teaser-wrapper {
    display: flex;
    width: 100%;
  }

  .teaser-wrapper .teaser-image {
    display: inline-block;
  }

  .grid-container {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /*.grid-image {
    height: 15vw;
  }*/

  .grid-item .grid-text {
    font-size: 20px;
  }

}
