:root {
  --base-font: 'Montserrat', Arial, 'Times New Roman' sans-serif;

  --max-screen-size: 1100px;
  --grey: rgb(80, 82, 78);
  --light-grey: rgb(196, 192, 183);
}
@font-face {
  font-style: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-style: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-style: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

html, body {
  margin: 0;
}

html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  font-size: 100%;
  font-family: var(--base-font);
  min-height: 100vh;
}

#logo {
  width: 5em;
  height: 5em;
  z-index: 100;
}

#logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--grey) url(../img/Logo_muthwill.svg) no-repeat;
  background-size: 80%;
  text-indent: -9999em;
  overflow: hidden;
}

#logo2 {
  display: block;
  position: absolute;
  height: 5em;
  width: auto;
  left: 5rem;
  top: 0;
  z-index: 100;
  background: transparent;
}

#logo2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  text-decoration: none;
  text-transform: uppercase;
  padding-left: 2rem;
  line-height: 1em;
  font-size: 15px;
  background-color: white;
  color: var(--grey);
}

header#main-header {
  position: relative;
  width: 100%;
  height: 45vw;
  overflow: hidden;
}

header#main-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

header#main-header h1 {
  position: absolute;
  left: 0;
  bottom: 5rem;
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  line-height: 1.2em;
}

header#main-header .inner-wrapper,
section.content-elements .inner-wrapper {
  max-width: var(--max-screen-size);
  position: relative;
  margin: 0 auto;
}

hr {
  width: 100%;
  height: 1em;
  background-color: rgb(42, 110, 154);
  margin: 0;
  border: 0;
  padding: 0;
}

@media screen and (min-width: 995px) {
  #logo {
    position: fixed;
    width: 5em;
    height: 5em;
    left: 2em;
  }

  #logo2 {
    left: 7em;
    width: 15em;
    height: 5em;
  }

  #logo2 a {
    font-size: 20px;
  }

}
