:root {


  --grey: #3C3C3C;
  --lightblue: #CDE8EA;
  --lightgrey: #A2A2A2;


}

@font-face {
  font-family: 'Covered by your Grace';
  src: url(fonts/covered-by-your-grace-v7-latin-regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/open-sans-v15-latin-300.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/open-sans-v15-latin-regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/open-sans-v15-latin-700.ttf);
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: normal;
}

.innerwrapper {
  width: 95%;
  margin: auto;
}



/*header and nav*/

div#headerausrichtung {
  min-height: 35vw;
}

div.headeraround {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  min-height: 9vw;
  z-index: 5000;
}

header {
  display: block;

}

header.header {

}

header #logo {
  width: 10vw;
  display: block;
  flex: 1;
}

header #logo img {
  width: 20vw;
}

header nav ul {
  display: block;
  flex: 1;
  margin: 0;
  margin-top: 37px;
}

header nav ul li {
  list-style-type: none;
  display: block;
}

header nav ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px 5px 10px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 1.8vw;
  color: var(--grey);
}

/*slider*/

div#slider img {
  width: 100%;
  display: block;
}

/*about us*/

main div.aboutus {
  background: var(--lightblue);
  padding: 30px;
}

main div.aboutus h1 {
  font-family: 'Covered by your Grace';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4vw;
  text-align: center;
  margin: 0;
}


main div.aboutus section {
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px black;
}

main div.aboutus section div.section-text {
  width: 70%;
  color: var(--lightgrey);
  padding-right: 30px;
}

main div.aboutus section div.section-text h2 {
  font-family: 'Covered by your Grace';
  font-size: 3vw;
  color: black;
}

main div.aboutus section div.section-img {
  flex: 1;
}

main div.aboutus section div.section-img img {
  width: 100%;
}

main div.aboutus div.button {
  background: var(--lightblue);
  border-radius: 10px;
  width: 20vw;
  color: var(--grey);
  font-family: 'Open Sans';
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0 15px 0;
  text-align: center;
}

/*image with text*/

div.imgwithtext {
  height: 45vw;
}

div.imgwithtext img {
  width: 100%;
  display: block;
}

div.imgwithtext p.imagetext {
  font-family: 'Covered by your Grace';
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  color: var(--grey);
  transform: translateY(-27vw);
}

/*gallery*/

div.gallerywrapper {
    padding: 50px;
}

div.gallerywrapper h2 {
  font-family: 'Covered by your Grace';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3vw;
  text-align: center;
  margin: 0;
}

div.gallery {

}

div.gallery img {
  width: 100%;
  display: block;
}



div.gallery .grid-item1 {
  grid-area: img-one;
  position: relative;
  margin-bottom: 10px;
}

div.gallery .grid-item2 {
  grid-area: img-two;
  position: relative;
  margin-bottom: 10px;
}

div.gallery .grid-item3 {
  grid-area: img-three;
  position: relative;
  margin-bottom: 10px;
}

div.gallery .grid-item4 {
  grid-area: img-four;
  position: relative;
  margin-bottom: 10px;
}

div.gallery .grid-item5 {
  grid-area: img-five;
  position: relative;
  margin-bottom: 10px;
}

div.gallery .grid-item6 {
  grid-area: img-six;
  position: relative;
  margin-bottom: 10px;
}

div.gallery .grid-item7 {
  grid-area: img-seven;
  position: relative;
  margin-bottom: 10px;
}

div.gallery div.imgdescription {
  position: absolute;
  top: 45%;
  left: 20%;;
  font-family: 'Covered by your Grace';
  font-size: 1.5vw;
}

div.gallery div.grid-item1:hover div.imgdescription,
div.gallery div.grid-item2:hover div.imgdescription,
div.gallery div.grid-item3:hover div.imgdescription,
div.gallery div.grid-item4:hover div.imgdescription,
div.gallery div.grid-item5:hover div.imgdescription,
div.gallery div.grid-item6:hover div.imgdescription,
div.gallery div.grid-item7:hover div.imgdescription {
  visibility: visible;
}

/*formular*/

div.formular {
  background: var(--grey);
  color: white;
}

div.formular h2 {
  font-family: 'Covered by your Grace';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3vw;
  text-align: center;
  margin: 0;
}

div.formular div.contactdata {

}

div.formular div.contactdata div.contactdata-left{

}


div.formular div.contactdata img {
  width: 15vw;
}



div.formular form p label {
  display: block;
  padding: 5px 0 5px 0;
}

div.formular form p label.radio {
  display: inline;

}

div.formular form p input,
div.formular form p textarea {
  display: block;
  width: 50vw;
  padding: 5px 0 5px 0;
}

div.formular form p input.radio-input {
  width: auto;
  margin:  10px 30px 0 13px;
}

div.formular form p.radio-style {
  width: 35vw;
  display: flex;
}






/*footer*/

footer {
  color: var(--grey);
  background: var(--lightblue);
}

footer div.footer-top {
  padding: 40px 0px 40px 0px;
}



footer div.footer-top div.footer-right {
  text-align: left;
}

footer div.footer-top div.footer-right ul {
  margin: 0px;
  padding: 0px;
}

footer div.footer-top div.footer-right ul li {
  list-style-type: none;
}

footer div.footer-top a {
  text-decoration: none;
  color: var(--grey);
}

footer div.footer-bottom p {
  text-align: center;
  background: var(--grey);
  color: var(--lightgrey);
  font-family: 'Open Sans';
  font-weight: lighter;
  padding: 20px 0px 20px 0px;
  margin: 0;
  font-size: 0.8em;
}




@media screen and (min-width: 480px) {

  .innerwrapper {
    width: 70%;
    margin: auto;
  }

  div#headerausrichtung {
    min-height: 11vw;
  }

  header.header {
    display: flex;
  }

  header nav ul li {
    float: left;
  }

  div.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 31%;
    grid-template-areas:
    'img-one img-two img-three img-four'
    'img-five img-six img-seven img-four';
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  div.gallery div.grid-item1,
  div.gallery div.grid-item2,
  div.gallery div.grid-item3,
  div.gallery div.grid-item4,
  div.gallery div.grid-item5,
  div.gallery div.grid-item6,
  div.gallery div.grid-item7 {
    margin-bottom: 0px;
  }

  div.gallery div.imgdescription {
    visibility: hidden;
  }

  div.formular div.contactdata {
    display: flex;
  }


  footer div.footer-top div.footer-left {
    float: left;
  }

  footer div.footer-top div.footer-right {
    text-align: right;
  }

  main div.aboutus section {
    display: flex;
  }

  div.formular div.contactdata div.contactdata-left{
    width: 30vw;
  }

}
