.float-right,
.float-left, {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.float-left .box {
  float: left;
  padding: 10px;
  border: 2px solid green;
  margin-bottom: 10px;
}

.float-right .box {
  float: right;
  padding: 10px;
  border: 2px solid green;
  margin-bottom: 10px;
}


.clear {
  clear: both;
}
