html, body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
}

.clearfix {
  clear: both;
}

nav.main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style-type: none;
}

nav.main-navigation ul::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

nav.main-navigation>ul>li {
  display: block;
  float: left;
  margin: 0 10px;
  position: relative;
}

nav.main-navigation ul li a {
  width: 100%;
  height: auto;
  display: block;
  background: black;
  padding: 20px;
  font-size: 1em;
  transition: all 300ms ease;
}

nav.main-navigation>ul>li>ul {
  position: absolute;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 300ms ease-out;
}

nav.main-navigation>ul>li:hover ul {
  display: block;
  transform: translateY(0);
}

nav.main-navigation ul li:hover a {
  background: black;
  color: #e8d0d0;
}

nav.main-navigation ul li ul li {
  width: 200px;
}

nav.main-navigation ul li ul li:hover a {
  background: #666;
  color: white;
}

a {
  color: rgb(61, 171, 219);
}
