body {
  position: relative;
  background: #333;
  color: #FFF;
  text-align: center;
}

form.formular {
  background-color: rgb(209, 212, 77);
  width: 20em;
  height: auto;
  display: inline-block;
  text-align: center;
  border: 5px solid black;
  background-image: url(https://m.media-amazon.com/images/S/aplus-media/mg/dbf4301f-af40-46f2-9a87-a99deddcd9a2._SL300__.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

form input {
  width: 50px;
  height: 30px;
  font-family: 'Times New Roman', Arial  sans-serif;
}

form .calc {
  margin-top: 2em;
  margin-bottom: 1em;
  height: 20px;
  width: 18em;
  background-color: rgb(162, 226, 147);
  color: black;
  border: 0px solid transparent;
}

form .number,
form .operator,
form .empty,
form .value {
  margin: 4px;
  background-color: rgb(162, 226, 147);
  color: black;
  border: 0px solid transparent;
}
