
#flag {
  position: relative;
  display: flex;
  margin: -2rem auto 2rem;
  width: 100%;
}

.background-content {
  position: absolute;
}

.front-content {
  position: relative;
}

.background-content p {
  position: relative;
  z-index: 1;
  font-family: var(--base-font);
  font-size: 20px;
  text-transform: uppercase;
  margin-top: -3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.clear {
  clear: both;
}

section.content-element {
 display: block;
}

.content-element header {
  margin: 15px;
}

.content-element h2 {
  text-align: center;
  font-family: var(--base-font2);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.content-element p {
  text-align: center;
  margin: 0;
  font-family: var(--base-font);
}

.content-element .teaser-wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 10px;
}

.content-element .teaser-wrapper img {
  width: 300px;
  height: 180px;
}

.content-element .teaser-wrapper p {
  text-align: center;
}

.content-element .teaser-wrapper h3{
  text-align: center;
  text-transform: uppercase;
  font-family: var(--base-font);
}

.content-element .teaser a {
  font-family: var(--base-font);
  color: red;
  text-align: center;
}

.image-container {
  text-align: center;
  padding-top: 30px;
  width: 100%;
}

.image-container .image-picture{
  float: left;
  text-align: center;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;

  border: 0;
  padding: 0;
  margin: 0;
}
