section.content-element {
 position: relative;
 display: block;
}

.content-element header {
  margin: 15px;
}

.content-element h2 {
  text-align: center;
  font-family: var(--base-font2);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.content-element p {
  text-align: center;
  margin: 0;
}

.content-element .teaser-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container img {
  grid-column-gap: 0;
}
