section.content-element {
  display: block;
  font-family:
}


section.content-element h1,
section.content-element h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5rem;
  font-weight: lighter;
  font-size: 30px;
  color: var(--grey);
}

section.content-element p {
  text-align: center;
  line-height: 2rem;
}

.teaser-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teaser {
  margin-left: 1rem;
  flex: 1;
  text-align: center;
  overflow: hidden;
}

.teaser img {
  width: 100%;
  max-width: 320px;
  min-width: 100px;
  height: 55vw;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.teaser-inner {
  position: relative;
}

.teaser .overlay-text {
  opacity: 0;
  display: flex;
  flex-flow: column;
  position: absolute;
  width: 100%;
  height: calc(100% - 1rem);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  color: var(--white);
  background-color: rgba(139, 116, 77, 0.5);
  font-size: 15px;
}

.teaser .overlay-text:hover {
  opacity: 1;
}

.teaser-text {
  text-align: center;
}

.teaser-text button {
  padding: 1em;
  border: 1px solid var(--brown);
  color: var(--brown);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  background-color: var(--white);
}

@media screen and (min-width: 768px) {

.teaser {
  flex: 1;
  text-align: center;
}

.teaser-inner {
  display: inline-block;
}

.teaser img {
  padding: 0;
  width: 100%;
  max-width: 320px;
  display: block;
  object-fit: cover;
  object-position: center;
}

}

@media screen and (min-width: 1280px) {

  .teaser-wrapper {
    display: flex;
    flex-direction: row;
  }

}
