section {
  font-family: var(--base-font2);
  margin-left: 2rem;
  margin-right: 2rem;
}

section h1 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

section .content-header h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

section .content-header p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.teaser-text h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.teaser-text {
  padding-left: 10%;
  padding-right: 10%;
}

.teaser {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.teaser img {
  width: 300px;
  height: 180px;
}

.teaser img:hover {
  transform: rotate(4deg);
}

.teaser a {
  color: var(--red);
  margin-top: 2rem;
}

.grid-container {
  width: 100%;
  margin-top: 2rem;
  grid-gap: 0;
  position: relative;
  background-color: green;
}

.grid-item {
  text-align: center;
}

.grid-item hr {
  width: 40%;
}

.grid-image img{
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 100px;
  max-width: 100%;
}


@media screen and (min-width: 675px) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

@media screen and (min-width: 1030px) {

  .teaser-wrapper {
    display: flex;
    width: 100%;
  }

  .teaser-wrapper .teaser-image {
    display: inline-block;
  }

  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}
