html, body {
  font-family: 'Times New Roman', Arial sans-serif;
  line-height: 30px;
}

h1 {
  color: rgb(129, 24, 161);
  font-size: 40px;
}

p {
  font-size: 20px;
}

.underlining {
  border-bottom: 3px dashed green;
  background-color: rgb(250, 60, 181);
  color: rgb(51, 62, 209);
}

.listenelemente {
  list-style: none
}

.listenelemente li {
  display: inline-block;
  margin: auto 2rem;
  background-color: rgba(226, 98, 159, 0.66);
}

.listenelemente a {
  text-decoration: none;
  padding: 10px;
}

.erstes-rechteck {
  background-color: blue;
  padding: 30px;
  top: 0;
  right: 0;
  position: fixed;
  width: 30%;

  text-align: left;
  text-decoration: line-through;
  color: white;
  font-size: 20px;
}

.zweites-rechteck {
  background-color: yellow;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10%;
  border: 5px dashed black;

  text-align: right;
  color: black;
  font-size: 15px;
}

.drittes-rechteck {
  background-color: white;
  position: absolute;
  top: 4%;
  right: 10%;
  padding: 5px;

  text-align: center;
  color: blue;
  font-size: 10px;
}
