html, body  {
  margin: 5px;
  padding: 0px;
}

div.boxen,
div.boxen1 {
  display: block;
  margin: 30px;
}

div.content {
  float: left;
  padding: 15px;
  border: 5px solid rgb(123, 204, 21);
}

div.content1 {
  float: right;
  padding: 15px;
  border: 5px solid rgb(123, 204, 21);
}

.clear {
  clear: both;
}
